@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap');

* {
  font-family: 'Frank Ruhl Libre', serif;
}

html, body{
    background-color: #f3f2ed;
    padding: 0px;
    border: 0px;
    margin: 0px;
    scrollbar-width: none;
}
a {
    color: white;
    font-style: normal;
    text-decoration: none;
}
/* NAV */
.nav-div {
    width: 100%;
    background-color: rgb(9, 15, 11);
}
.nav {
    padding: 15px;
    display: flex;
    justify-content: center;
}
.nav-item {
    font-size: 30px;
}

/* INDEX */
.index {
    background-color: #ffffff;
    border-right-style: none;
    border-radius: 0px 5px 5px 0px;
    width: 245px;
    height: 100vh;
    padding: 5px;
    overflow: scroll;
    scrollbar-width: none;
}
.index-item {
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 0px;
    text-align: left;
    font-size: 22px;
    font-style: normal;
    padding: 4px;
    width: 200px;
    margin: 10px;
    color: rgb(9, 15, 11);
    display: list-item;
    list-style: none;
    overflow: scroll;
}
.sub {
    display: grid;
    padding: 10px;
    overflow: scroll;
}
.index-button {
    background-color: rgb(255, 255, 255);
    border: solid;
    border-radius: 5%;
    margin: 2px;
    color: rgb(0, 0, 0);
    width: 200px;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    
}
.dash {
    background-color: black;
    width: 245px;
    height: 2px;
}

/* Content */

.content {
    margin-left: 35px;
    overflow: scroll;
    height: 100vh;
    width: 75vw;
    justify-content: center;
    scrollbar-width: none;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    margin-top: 30px;
    text-align: center;
    font-weight: 300;
}
.body-frame {
    width: 60vw;
    height: 80vh;
    border-left: none;
    border-right: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    scrollbar-width: none;
}

/* Main */
.main {
    display: flex;
    background-color: #ffffff;
}

.divider {
    background-color: black;
    width: 1px;
    height: 100vh;
}

/* Right */
.right {
    background-color: #ffffff;
    border-right-style: none;
    border-radius: 5px 0px 0px 5px;
    width: 245px;
    height: 100vh;
    padding: 5px;
    overflow: scroll;
    scrollbar-width: none;
}